.container {
  display: grid;
  grid-template-columns: minmax(350px, 500px);
}

.input__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  padding: 8px 20px;
  background: #FFFBFE;
  font-weight: 500;
  font-size: 12px;
}

.input__wrapper {
  display: grid;
  position: relative;
}

.input__label {
  color: #6750A4;
  letter-spacing: 0.5px;
  background: #FFFBFE;
  position: absolute;
  top: -4px;
  left: 10px;
  padding: 0 3px;
}

.input {
  border: 2px solid #6750A4;
  width: 115px;
  height: 55px;
  border-radius: 4px;
  text-align: center;
  font-size: 16px;
  transition: all ease 0.5s;
  outline: none;
}

.salary {
  align-self: center;
  justify-self: end;
  letter-spacing: 0.5px;
}
