@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import './assets/styles/reset.scss';

*{
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  font-family: 'Roboto', sans-serif;
}

button, input {
  font-family: inherit;
}
